
/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html, body {
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:12pt;
	color: #112847;
	background: url(../images/bg-page.png) no-repeat 50% 0 #061e3e;
	margin: 0 auto;
}

img {
	-ms-interpolation-mode: bicubic; /* For image interpolation in IE 7 and 8 */
}

.c {
	clear:both;
	height:0;
	font-size:0;
	background:0;
	line-height:0;
}

.clear {
	clear: both;
}

.right { 
	float:right; 
	margin-left: 20px;
	margin-bottom: 15px;
}

/* BASE TYPOGRAPHY */

h1 {
	color:#fff;
	font-weight:normal;
}

h2 {
	color:#5b9fe4;
	font-weight:bold;
}

h3{
	font-size:20px;
	color:#081D46;
	font-weight:bold;
	margin-bottom: 15px;
	margin-top: 10px;
}

h4 {
	font-size:16px;
	color:#555;
	line-height:20px;
	margin-bottom: 15px;	
}
	

h6 {
	font-weight: bold;
	text-transform: uppercase;
	clear: both;
	margin-bottom: 20px;
	color: #777;
	padding-bottom: 10px;
	border-bottom: 2px dotted #dedcdc;
}

.no-pad-top {
	padding-top: 0;
}

/* STRUCTURE ELEMENTS */
#wrapper {
	width:960px;
	margin:0 auto;
	position: relative;
}

/* HEADER */
#header { height:140px; }

#header p {
	color:#f9f9f9;
	font-size:15px;
}

#header h1 {
	font-size: 34px;
	padding: 7px 0;
	margin-top: 7px;
}

#header a { 
	text-decoration: none; 
	color: #FFF;
}

.title {
	width: 500px;
	float: left;
	margin-top: 40px;
}

#container {
	overflow: hidden;
	width: 960px; 
}

#content_inner {
	background-color:#fff;
	width:840px;
	float:left;
}

.contentbox {
	width:800px;
	margin: 0 0 0 20px;
	padding-top: 20px;
	font-size: .875em;
	overflow: hidden;
	background-color: #FFF;
}

.gradient {
	background-image: url(../images/bg-gradient.png); 
	background-repeat: repeat-x;
	background-position: bottom;
}

.contentbox.gradient {
	margin-left: 0px;
	padding: 20px;
	margin-right: -20px;
}


.border {
	border-left:1px dotted #5b9fe4;
	padding-left:19px;
}

.figure {
	float: left;
	margin-bottom: 10px;
	margin-right: 12px;
}